[2012-09-24 10:54] medikoo opened #1 "reFetch extension for maxAge functionality"
There are cases where we may want to automatically refresh value after it has expired, not just  purge it, this simple functionality extension will address that

[2012-10-03 13:44] #1 closed, assigned to medikoo

[2012-10-29 20:47] puzrin opened #2 "How to properly memoizee with array/hash params ?"
First af all, that does not affect our code, because we use "premitive" mode (params consist of unique mongoose ids). But I'd like to understand, how to properly handle arrays/hash params in other case.

https://gist.github.com/3974038

This example does not memoize. What is wrong with code?

PS. Thanks for module.

[2012-11-01 02:31] #2 closed, assigned to nobody

[2013-07-20 12:42] summivox opened #4 "Feature request: expose core"
So this memoization module is based on an LRU + expiry cache unit, right?
It'd be very helpful if we could use this unit directly, without the function decorator...

[2013-08-09 05:07] statico opened #5 "What's the unit for maxAge?"
The examples say `maxAge: 1000` for memoized functions that timeout. Is that milliseconds or seconds?

(This module looks super-useful. Thanks for writing it!)

[2013-08-09 05:11] #5 closed, assigned to nobody

[2013-08-16 16:39] jfroffice opened #8 "fix README"
fix README

[code]

to

[code]

whatever, project name should be the same.

[2013-08-16 16:42] #8 closed, assigned to nobody

[2013-10-07 20:13] jaclar opened #9 "max and maxAge in combination with async: true lead blocking of event loop"
Consider the following example:

[code]

This will send memoizee into an infinite loop.

**additional information**

[code]

[2013-10-08 13:28] #9 closed, assigned to medikoo

[2014-04-27 17:09] #4 closed, assigned to medikoo

[2014-05-05 18:30] rektide opened #10 "Graceful handling of un-refreshable"
Hello,

I'd love a way to be able to have my method throw a special exception (or return a special value) that indicates that a refresh at this time is not possible, causing the old expired data to continue to be used.

Ideally the exception could also specify some kind of retry policy: wait 20% more expiry before trying again.

Memoize wraps an HTTP client in my case, and I'd like to build in a w

[2014-05-06 11:12] #10 closed, assigned to medikoo

[2014-05-12 09:10] issacg opened #11 "profiler not working?"
I can't seem to get anything useful from the profiler.  I'm running npm version 0.3.2, with the following code:

[code]

This generates the following output:

[code]

Am I misusing the profiler?  Swapping the require order of memoizee and the profiler didn't help at all.

[2014-05-12 15:07] #11 closed, assigned to nobody

[2014-06-08 16:57] stefanpenner opened #12 "tests are included in npm release."

[2014-06-09 07:45] #12 closed, assigned to nobody

[2014-06-18 18:41] gabmontes opened #13 "TypeError in async.js after calling clear()"
@medikoo since upgrading to 0.3.3 from 0.2.x, I am experiencing several `TypeError`'s in `async.js` after clearing the cache. The errors are basically two and I was able to consistently reproduce the problem.

The following code memoizes an async function `asyncfn` and clears the cache between the two calls:

[code]

It will always break with `'TypeError: Cannot read property \'length\' of undefin

[2014-06-20 10:06] Slade-X opened #14 "Memoizing asynchronous functions"
In the provided example, if I understand, returning something in err of the callback must result in cache miss?
'Operations that result with an error are not cached.'

[code]

Results in  2 Init and 3 hit.
Can I have a working example?

In this code https://github.com/chrisdlangton/node-rest-demo/blob/master/routes/list.js (function handleFind ), I supose the missing callback explain the no cache

[2014-06-22 10:26] #14 closed, assigned to medikoo

[2014-06-22 10:30] #13 closed, assigned to medikoo

[2014-07-06 11:44] issacg opened #15 "async primitive single-argument null kills node"
Tested on 0.3.4

[code]

For that matter, the lack of a normalizer for single-argument primitive mode makes it quirky on anything that's not guaranteed to be a string.

[2014-07-07 10:27] #15 closed, assigned to medikoo

[2014-07-12 19:48] mryangyu opened #16 "What is the best way to delete cache for a group of arguments?"
lets say I remembered by 2 arguments: a, b, and then I want to clear the cache for all a = 1 regardless what b is.

Thanks for the help.

[2014-07-14 08:15] #16 closed, assigned to nobody

[2014-07-25 15:06] TheDeveloper opened #18 "TypeError: Cannot read property 'length' of undefined"
[code]

Seems similar to #13 except I'm not sure of what exact scenario triggers this.

In `ext/async.js`, It seems that `cb` is assumed to either be a function or an Array of functions from the `waiting[id]` property. However, somehow, occasionally `waiting[id]` seems to be undefined when this code runs causing `cb` to also be undefined, which throws the error when `cb.length` is called when the

[2014-07-28 16:20] #18 closed, assigned to nobody

[2014-08-13 19:11] plarsson opened #19 "prefetch doesn't work with async"
I'm having problem with prefetch in combination with async. Is this supported? It seems like the prefetch is calling the function without any arguments.

[2014-08-14 09:23] #19 closed, assigned to medikoo

[2014-09-25 20:38] reverofevil opened #20 "Caches big enough to store data in file system"
For example, I'd like to make a function that downloads files from the internet, but if they were already downloaded, gets them from the cache on hdd. That's certainly a kind of memoization: persistent, with hdd cache. Shouldn't it be in `memoize`?

[2014-09-26 15:13] #20 closed, assigned to nobody

[2014-09-27 12:20] MarcDiethelm opened #21 "Please .npmignore anything that's not needed for production"
I'm pretty sure tests are not needed in production. :)
They just bloat project dependencies, install time, use bandwidth, etc.

You could either use the [package.json](https://www.npmjs.org/doc/files/package.json.html) `files` property to whitelist files for production or .npmignore to blacklist unneeded ones.

For more info on .npmignore and an automatic generator see https://github.com/inikulin/

[2014-10-02 14:44] issacg opened #22 "crash report: memoize async + async.eachSeries"
The following test code causes memoizee to spin into a nextTick() loop and blow the callstack.

[code]

This will crash on the second interval.

[2014-10-07 18:48] rektide opened #23 "more flexible maxAge"
Some things which I find myself wanting:
- ability to change maxAge on the fly
- ability to set maxAge for an individual item

[2014-10-08 10:10] svileng opened #24 "Latest version not published on NPM?"
I tried using the WeakMap functionality which was recently added, but the weakMap module was not there, so I got the standard "cannot find module" error from node when I tried to require it:

[code]

[code]

I can see that `weakMap.js` exists in the repository, but it's not in my `node_modules` memoizee folder.

[2014-10-08 11:10] #22 closed, assigned to medikoo

[2014-10-08 12:50] #24 closed, assigned to medikoo

[2014-10-10 14:58] #21 closed, assigned to nobody

[2014-11-09 02:44] lscpike opened #25 "Hangs NodeJS on shutdown when using maxAge."
NodeJs 0.10.33

When I shut down the server it hangs up to the maxAge time before the process exits. Suggests the cache expiry timer is keeping the event loop going.

If I clear the cache explicitly the process exits immediately, but this means I need to track all memoized functions.

[2014-11-29 01:54] Rush opened #26 "Memoize simultaneous calls to single call"
When I have a slow running async function memoized and it's called multiple times before the first result is remembered, it will actually call the actual function multiple times. Would be nice if it remembered that the function is being resolved and to not try to resolve it, instead if could simply get its callback run when the original/first call is resolved... let me know if I made it clear, I h

[2014-11-29 12:08] #26 closed, assigned to medikoo

[2014-12-03 18:38] Azeirah opened #27 "Am I missing something about memoization?"
I wrote a short snippet of test code, to see memoize really increases performance or not, this runs in Firefox 33.0

[code]

The output of running `timeoize()` is

[code]

Why is the memoized version of my `translate` function **that** much slower? Instead of improving performance, this memoization converts a piece of code that took less than 2 ms to run to 22 seconds for the non-cached version of

[2014-12-04 11:15] #27 closed, assigned to nobody

[2014-12-30 17:08] vekexasia opened #28 "Object argument not getting cached for async function?"
Hello there,

i'm trying to memoize a request to a google server to not issue too many useless requests using the same tokens.

It looks like the tokens i pass ( a plain key,value object ) does not get "cached"...

[2015-01-06 12:30] medikoo commented on #28
@vekexasia as I don't have any working test case that would replicate a problem, and I'm not aware of any issues in memoizee. I'm closing this one

[2015-01-06 12:30] #28 closed

[2015-01-16 14:49] ecaron commented on #28
@medikoo, I'm guessing the issue that @vekexasia is experiencing is this has cache hits:
[code]
But this one only has cache misses
[code]

[2015-01-16 15:02] medikoo commented on #28
@ecaron this is expected, in second case at all times function receives different object, therefore it's treated as different argument. Values by default are compared with `===` (and more precisely by [this logic](https://github.com/medikoo/es5-ext/blob/master/object/eq.js))

If you want to have different objects but with same structure treated as same, then you need to provide custom normalizer f

[2015-01-16 15:03] ecaron commented on #28
(thumbsup)

[2015-01-16 15:08] ecaron commented on #28
@medikoo But the normalizer applies to every argument in the function, rather than just limiting to the ones expected by the length parameter. So, for example, if you're using with and wanting to pass along a req-esque parameter outside the cache-specific parameters, you'll get a circular structure error.

[2015-01-16 15:20] ecaron commented on #28
Here's the code showing that the normalizer is getting values that I was expecting the length parameter to overlook:
[code]

[2015-01-16 15:35] medikoo commented on #28
@ecaron sorry I was not precise, what `normalizer` receives is _arguments_ object of function call, and it's role is to return unique id on which bases uniqueness of arguments will be assumed.

So if you're interested only in first argument, same you're normalizer should generate id only against first one. So what I wrote, should be:

[code]

[2015-01-16 15:44] ecaron commented on #28
@medikoo And that makes sense, but as a consumer of the library and given the explanation within https://github.com/medikoo/memoize#arguments-length, I'd expect the uniqueness of the arguments to correlate to the length desired to impact the cache strategy.

Would you consider a PR that adjusts the normalizer to rely on the `length` parameter if its explicitly defined?

[2015-01-16 16:28] medikoo commented on #28
It's normally assured, however normalizer takes original _arguments_ object, and _arguments_ It's the object that we should not alter in any way.

The only fix for that would be to change normalizer strategy, so instead of arguments object it will receive arguments same way as input function, so as e.g.  `normalizer(arg1, arg2, ...args)` and in that case we could limit them against defined limit.

[2015-01-19 12:43] confuser opened #29 "Thundering heard"
memoize doesn't protect against a cache miss storm and can take down a high traffic site quite easily

E.g.
http://www.percona.com/blog/2010/09/10/cache-miss-storm/

http://en.wikipedia.org/wiki/Thundering_herd_problem

[2015-01-19 13:08] medikoo commented on #29
@confuser if I understand problem accurately it surely protects.

Firstly JS is single threaded, there's no way for two clients try to access same item at _same time_. In all cases it'll be one event after another, and second and latter ones will always get cached result.

It's only _asynchronous_ requests, where such vulnerability may take place, but memoizee is bulletproof against that. After fi

[2015-01-19 13:08] #29 closed

[2015-01-29 14:04] ikb42 opened #31 "Feature Request - Memory information in Profiling & Statistics"
How much RAM is being used to hold the current cache.

Great tool! Thanks!

[2015-01-29 14:10] medikoo commented on #31
@ikb42 it's designed to be minimal, but surely depends on use case. You should measure it on your own

[2015-01-29 14:10] #31 closed

[2015-01-29 15:04] ikb42 commented on #31
That could be tricky, would require holding separate info about the cache that was in sync with whats in the cache.
A memory counter in the cache would be much better.

[2015-01-29 15:10] medikoo commented on #31
@ikb42 it's JavaScript, there's no access to information how much memory is taken by each object

[2015-02-08 08:24] issacg commented on #22
Confirming that on Node.js 0.12.0, the above code runs on memoizee@0.3.8 and async@0.9.0 without crashing or CPU spikes.

Thanks :)

[2015-02-08 11:30] medikoo commented on #22
:)

[2015-02-18 15:32] bojand opened #32 "memoized values open to corruption, clone option could be useful?"
It seems the library returns the direct object in the cache. This opens the cache to possible corruption by client code.

A made up example:

[code]

and in another place..
[code]
context 1 corrupted the cached value and could effect context 2.

It would be cool if we could specifically state that we want cached values cloned in return.
For example something like:

[code]
I can try and do a PR, bu

[2015-02-18 15:39] medikoo commented on #32
I understand the concern, and I think _clone_ option is acceptable for that.

Let me sleep with it, and most likely tomorrow I'll address it. It is simple to integrate.

[2015-02-18 15:42] medikoo commented on #32
@bojand Can you also describe your use case? Why you do not copy the object on your own before modyfing it?

[2015-02-18 19:20] bojand commented on #32
Basically I'm experimenting with memorization to briefly (right now i'm testing with `maxAge` of 1 s) cache some db calls that may happen in frequent succession on some requests, to optimize some performance. Something similar conceptually would be (I am simplifying the situation for brevity):

Let's say you have expensive db function:
[code]
and you memoize the result for 1 s max because it could

[2015-02-19 07:51] medikoo commented on #32
I was thinking about it, and to mu understanding this issue should be solved outside of memoize.

It's rule of thumb not to modify objects that come from cache that we know can be provided also to other consumers. This rule spans onto many other patterns and doesn't apply only to memoization.

Within your function you're aware that you're using result that's memoized and can be used for other call

[2015-02-19 07:51] #32 closed

[2015-02-20 14:54] liberd opened #33 "Where memoize save the cache?"
I use memoize in a Node Web Service application.
1) When I shutdown the service, can I rescue the cache created before the shutdown?
2) The same scenario when I move my service to other server.
Can I save the cache in disk and then when the service begin assign to the memoize object again?
Thanks

[2015-02-20 15:17] medikoo commented on #33
@liberd cache is not exposed in any way, and there's no way to access it as whole. I can probably introduce some function so copy of cache is returned on request, and that cache can be injected via some external mean.
Still that may work only for normalizers which produce deterministic id's for arguments. e.g. internally it is guaranteed only in primitive mode. Normal mode generates ids for cache

[2015-02-20 17:36] liberd commented on #33
@medikoo ok, well... great! Thanks a lot for considering this.

[2015-02-20 17:43] liberd commented on #33
Just thinking... I dont know the internal funcionality of your lib, but I presume that the object maintains all the cache in memory. Maybe you can consider using some system stored on disk for saving on long term thought caches, where the object use the disk for store/read the cache. For example, in my scenario, I have information that rarely changes, so my idea is that most of the request mantein

[2015-02-20 17:53] medikoo commented on #33
@liberd it'll never become internal part of memoizee, as memoizee is about doing one thing, and persistence is rare custom case that can be easily done aside.

I'm also not really convinced at this point to introduce option of cache import/export, as as I pointed it can work reliably only in some configuration cases, so functionality from start will be partially broken, and that opens door for oth

[2015-02-20 19:04] liberd commented on #33
I explain the scenario: I have a API build in Node with Express. The methods in there go to the database where execute querys and aggregations who in some cases are heavy (for process time), then response a JSON with the data (so I'm using now primitive mode). All this method are cached and its work very very well.
A lot of this request are repetead a lot, the most of users using the API request t

[2015-02-25 08:59] medikoo opened #34 "Memory optmization"
Currently for each memoized function there are few functions created, that affects memory badly when our configration deals with thousands of memoized instances. It'll be much more optimal to rely on prototype inheritance model in that case

[2015-03-01 10:04] medikoo opened #35 "Introduce 'promise' mode"
At this point promise returning functions are memoized natural way, which seems ok, but there's one flaw, Rejected promise results are treated same as successful ones, that's not right.

We should not store them, same way as we do not store sync function crashes, or errors in async mode.

[2015-03-02 18:59] theothermattm opened #36 "Register callback when cache reaches max size"
It would be nice to be able to register a callback when the cache reaches its max size.  Even better if the value being evicted could be accessed.

The use case I'm after is being able to log out when a cached method result is going to be evicted for debugging/perf analysis purposes.

I tried to use the dispose callback for this but realized it was only called when clear() is called.

Apologies if

[2015-03-02 19:28] theothermattm commented on #36
Sorry, my testing for this was faulty, realizing the dispose function is getting called.

[2015-03-02 19:28] #36 closed

[2015-03-03 07:27] medikoo commented on #36
:)

[2015-03-04 19:42] theothermattm commented on #36
Though actually, after I closed this I realized it would be great if there was the ability to have different callbacks for the clear of an entire cache and what gets called on a purge after the maxSize is hit.

Helps with knowing when you're evicting things based on your set policy.  Just something to think about.  I can log a separate issue if you think it's a decent idea.

[2015-03-05 07:27] medikoo commented on #36
@theothermattm is it just _nice to have_ or you have real use case, where you can benefit from that?

[2015-03-10 19:28] theothermattm commented on #36
The use case is to know when things are being evicted via a set policy or when you're explicitly doing a clear.  For instance, in my application, it is valuable for me to know when I start evicting things and which things are being evicted.  This helps me with tuning cache sizes.

I say it's nice to have because right now in my disposer function, I'm using closure to check a flag that I toggle on

[2015-03-11 02:27] atian25 opened #37 "Provide start/end functionality to profiling"

[2015-03-11 07:15] medikoo commented on #36
@theothermattm thanks for explanation. However even if we would introduce callback for clear, dispose callbacks for consistency will have to be invoked anyway. So still you will need to rely on that custom flag, if I get things right. Nothing really will be improved.

[2015-03-11 07:20] medikoo commented on #37
Yes, it will, it immediately attaches the logger, and from now on data usage is being collected

[2015-03-11 08:34] atian25 commented on #37
it will be nice to provide `profile.start()`, so we can open/close this feature by a config online.

[2015-03-11 08:35] medikoo commented on #37
@atian25 It sounds reasonable, I'll take that into consideration for next version

[2015-03-16 21:56] theothermattm commented on #35
+1 could definitely use this!

[2015-03-17 12:36] mrodrig opened #38 "Chaining off of cached Promise causes cached value to be modified"
I just recently found out that when using this library to memoize a function that returns a promise that if you chain a .then off the cached value and then return anything besides the original value (or don't return anything at all) then you will end up modifying the cached value to whatever you returned (or undefined if you don't return anything).

Example:
[code]

This example appears to be hitt

[2015-03-17 12:44] mrodrig commented on #38
Also, if the value that is resolved in the Promise that is cached is an array of numbers then the cached value is not modified.

Example:
[code]

Note that the only difference between the two examples is:
Cache Modification Example: ```resolve([{val : number}]);```
Cache Non-modification Example: ```resolve([number]);```

[2015-03-17 19:49] medikoo commented on #38
@mrodrig this is expected and very natural behaviour when JavaScript is concerned, also it doesn't have to do anything with promises. You're test case can be much simpler:

[code]

If you use memoize to cache functions that return objects, you should expect same objects being returned on cache hit calls, and if one of consumers modifies result object, such modification will naturally be visible fo

[2015-03-17 19:49] #38 closed

[2015-03-20 07:18] medikoo opened #39 "Consider non deopt arguments handling"
I take that current handling of _arguments_ [deoptimises the function](https://github.com/petkaantonov/bluebird/wiki/Optimization-killers#32-leaking-arguments) Still it's question whether it's noticeable aside of other things that function do.

If benchmark proves that memoized functions can gain from that, we should assure no deopt by _arguments_.

[2015-04-07 01:58] atian25 commented on #37
any news for this?

[2015-04-07 06:53] medikoo commented on #37
@atian25 at this point I don't have time to handle that. It's likely to happen may-june.

[2015-04-07 07:34] atian25 commented on #37
ok, I'm trying to use lazy require to workaround this.

[2015-04-12 10:05] hodeyp opened #40 "how do I use in the browser?"
Hi, I am trying to use Webmake to generate a browser compatible build. I have built using `web make index.js bundle.js` and then included bundle.js in my index.html.

However when I try to call memoize in my js I get an error memoize is not defined - how am I meant to call the function?

[2015-04-12 10:14] medikoo commented on #40
_program.js_:
[code]
Then in shell:
[code]

Of course memoize won't be visible outside the bundle, but it's how CJS works, it's perfect encapsulation you should not expect utilities to be exposed old school way on globals.

[2015-04-12 10:14] #40 closed

[2015-04-22 07:34] akuz opened #41 "memoized.delete() doesn't work for async"
I have the following functions:

    self.loadUrlText = function(url, callback) {
        d3.text(url, undefined, function(error, result) {
            callback(error, result);
        });
    }

    self.loadUrlPage = memoize(self.loadUrlText, {
        async: true,
        max: 100,
        maxAge: 1000 * 60 * 60
    });

However after I call:

    if (noCache) {
        alert('Uncache: ' + url)

[2015-04-22 07:37] akuz commented on #41
Oh, sorry it was the browser cache! (Just put another alert into the loadUrlText() function)

[2015-04-22 07:37] #41 closed

[2015-07-06 14:12] themaarten commented on #25
How about making 'unreffing' of the timers created by maxAge an extra configuration option? That way the user can decide whether the potential performance penalty is worth it.

[2015-08-01 17:23] ahfarmer opened #43 "v0.3.9 release"
Would it be possible to get a 0.3.9 release? Anything I could do to help make that happen?

In particular, [this commit](https://github.com/medikoo/memoize/commit/453ee0d484dd899514ab11fd0fd7aeef5e42b822) would be very helpful to me.

I'm using Karma and experienced a bug with the stack trace below. The issue is fixed when I change Karma's memoize dependency from this:

    "memoizee": "^0.3.8",

[2015-08-02 09:43] edvinerikson commented on #43
I'm having the same issue with Node `v0.12.7`
https://travis-ci.org/edvinerikson/isomorphic-react-kickstarter/jobs/73673617

[2015-08-04 08:49] medikoo commented on #43
It's published as v0.3.9, sorry for delay, actually it caught me on holiday :)

[2015-08-04 08:49] #43 closed

[2015-08-04 15:49] ahfarmer commented on #43
Thank you! 😃😸🐔

[2015-09-03 12:39] bojand opened #44 "Easiest way to ignore an argument for memoization"
Let's say I have an async function:

[code]
This can easily be momoized with something like:
[code]
What if I have a function:
[code]
where `req` is Express request object. I would **not** like the `req` value to be considered for hashing at all. We should still memoize results of `verifyToken` based on `token` value only. What's the easiest approach to accomplish this? Resolvers? Something like:

[2015-09-03 12:47] medikoo commented on #44
You can ignore arguments, but only trailing ones, not leading ones.

So I believe it would work as expected if you do:

[code]

I'm closing it, as it's neither bug report nor feature request, still let's continue discussion

[2015-09-03 12:47] #44 closed

[2015-09-03 12:51] bojand commented on #44
Thanks for the reply. Yea it's just a usage question, not a bug. Sorry i should have made it clearer... I don't have a choice of argument ordering due to contextual factors. so the argument order in function signature has to be `(req, token, fn)`. I imagine I could do something hacky-ish perhaps with lexical closur-ing and/or partial-ing + memo, but wanted to know if there was a simpler approach?

[2015-09-03 12:55] medikoo commented on #44
The other approach would be to solve it via decorator pattern:

[code]

[2015-09-13 19:44] medikoo opened #45 "Expose `has` on memoized methods"

[2015-10-02 14:06] diegosanchez opened #46 "Function with object as parameters"
Memoize works with strings and numbers but not with more complex parameters like objects like ```{x:1, y: 1}```

Here the pice of code:

[code]

I will be nice to have deep comparison, won't it?  May be there is a performance consideration to have.

[2015-10-02 14:17] medikoo commented on #46
It's expected, as in both cases you pass different objects, therefore different arguments.
It will pass if it would be done as following:

[code]

You can however provide your own normalizer, so even if they're different object, they're recognized as same ones:

[code]

[2015-10-02 14:17] #46 closed

[2015-10-02 16:00] puzrin commented on #34
As far as i remember, perf problem also can happen on thousands of `setTimeout()`. Solution is to have a list of deadlines, and scan it with single timer.

[2015-10-02 19:10] medikoo commented on #34
@puzrin true, it's great tip

[2015-10-16 15:54] olalonde opened #47 "Rename repository to memoizee?"
I was stuck with a bug for 20 minutes before figuring out the npm name of the package is `memoizee` and not `memoize`.

[2015-10-17 09:48] medikoo commented on #47
Indeed, it's not the only report about that. Done

[2015-10-17 09:48] #47 closed

[2015-10-18 04:24] olalonde commented on #47
Thanks!

[2015-11-18 15:33] peteruithoven opened #48 "Filtered array memoization?"
I'm trying to get create a  memoized function that picks "selected" items out of a `...byId` object. I'm hoping to cache the result when the selection didn't change and when the selected objects didn't change. This is important because I'd like to pass the result to other (expensive) regularly memoized functions.
Not memoized example:
[code]
I can implement a crude custom shallow array "memoizer",

[2015-11-18 15:43] medikoo commented on #48
@peteruithoven yes, it's not perfectly documented, but it's possible to provide custom _normalizer_ function. It's function that should return an unique id for received arguments, and on that basis internal logic will decide whether given case was memoized or not.

In your case it might work well if done as follows:

[code]

I'm closing it, as it's not a bug report or feature request

[2015-11-18 15:43] #48 closed

[2015-11-18 16:01] peteruithoven commented on #48
@medikoo Thanks for the idea, but that doesn't really use the benefit of immutable data? I'd like to find a solution without a `JSON.stringify()`. I'm afraid the id will get very big, when I have a lot of data, I'm not sure what kind of negative impacts that would have.

[2015-11-18 16:17] medikoo commented on #48
@peteruithoven in any case unique string id needs to be resolved. If you know the way how to make it short, just do it :) I don't know internal implications of your project, so it's hard for me to help you more on that case.

Alternatively if for same `state` structures always _same_ object instances are passed, then you do not need to provide any normalizers, as by default memoization works by ch

[2015-11-28 17:34] asaf-romano commented on #35
+1.

Here's a temporary workaround I'm using (ignore the arguments inversion):
[code]

[2016-01-03 11:52] nevercast commented on #25
I just observed this, currently I'm reducing maxAge to a time I'm willing to wait for the process to exit.

[2016-01-19 22:11] puzrin opened #49 "memoize & prefetch promises"
I'm rewriting a lot of code from callbacks to yield + promises. Would like to find a nice solution to memoize results from db in new style.

I can memoize sync function, that return `Promise`. That looks ok until promise fails - such result should not be reused. Any ideas how to deal with it?

PS. I know i can use old style internals and promisify memoized function, but that's not beautiful.

[2016-01-20 08:06] medikoo commented on #35
Other workaround, can look as:
[code]

Still it's not ideal when combined with other options as `maxAge`, `dispose` etc.

[2016-01-20 08:07] medikoo commented on #49
There will be dedicated `promise` mode for that, it's handled at https://github.com/medikoo/memoizee/issues/35 Until then workaround as proposed in comments should be made.

I'm closing it as duplicate of #35

[2016-01-20 08:07] #49 closed

[2016-01-20 09:55] puzrin commented on #49
Thanks! Did not found that issue when created a new one.

[2016-01-20 10:23] puzrin commented on #25
Not sure that listening global kill is the best idea. You may not know how user handle additional signals like SIGHUP/SIGUSR1/SIGUSR2. For example, he may wish to do soft restart of workers in cluster. I'd vote for global method to clear all timeouts (if that possible). That can be useful when soft restart needed.

[2016-01-20 10:46] medikoo commented on #25
@puzrin I agree, also It may be totally different case on Windows.

[2016-01-23 23:48] puzrin commented on #25
Found: https://nodejs.org/api/timers.html#timers_unref

Timers in memoizee should be "unref-ed". That will do exactly what we need.

[2016-01-25 09:06] medikoo commented on #25
@puzrin indeed, great found! We'll follow that then

[2016-01-25 09:53] puzrin opened #51 "Improve cache logic for prefetch"
Current prefetch implementation drops cache value immediately after start. That's not correct behaviour  for big loads. Cache should be dropped only if it's timed out, and should not be affected by internal failures.

__Summary:__

1. If prefetch "in progress", memoizee should  return old cache value.
2. When prefetch complete:
   - on successs - update cache value
   - on fail - do nothing.

__Po

[2016-01-25 09:58] medikoo commented on #51
I don't think it works that way. To me `prefetch` works exactly you want it to work. Can you prepare a test case which shows it's otherwise (?)

[2016-01-25 10:10] puzrin commented on #51
Probably me & @Kirill89 did not understood right what happens. Could you explain this 2 lines https://github.com/medikoo/memoizee/blob/master/ext/max-age.js#L49-L50 ?

It looks like when prefetch starts, it immedeately drops cache data with `conf.delete(...)`.

[2016-01-25 10:37] medikoo commented on #51
This is called after value being accessed, and `!preFetchTimeouts[id]` means that _prefetchAge_ time has passed and value should be prefetched for next access.

To prefetch value we call again memoized function, however this can't work properly without previously deleting cached value (if we won't delete it, memoized function will returned cache value).

---

It's indeed as I look now, not ideal,

[2016-01-25 19:00] nevercast commented on #25
Not sure if the bug is still around but unref used to cause memory leaks.
I know the npm:odbc-pool module has a .drain() method that clears all the timeouts for use when shutting down your application. That might be some reference.

unref is likely a suitable option, as it's meant to work.

[2016-01-25 19:07] puzrin commented on #25
Problem could be in creating too many timeouts. I noted somewhere in another issues, that timer ticks management should be done by single timer object.

[2016-02-21 11:32] puzrin commented on #35
I have a couple of strange question:

- Does current architecture approach still plays well for pending issues?
- Does it worth to split sync / async / promise functionality to separate packages?

[2016-02-22 08:53] medikoo commented on #35
@puzrin indeed your questions are not clear to me. Answering best I could:
- I don't see bigger issues with current architecture. Some issues wait longer for resolution mainly because my time is very limited at this point, and there's hardly other contributors around.
- I don't envision splitting this package into many packages. I think it works best as one package with sub functionalities split i

[2016-02-22 20:58] puzrin commented on #35
I considered, does it worth to create separate package for promises with my own efforts. Seems, that will have almost no advantages (+ additional time spends for maintenance).

[2016-02-23 07:54] medikoo commented on #35
@puzrin you can introduce external extensions, e.g. that way:

[code]

Just be sure to not use `promise` name so it won't collide with one that will soon be added.

[2016-03-03 21:01] seansfkelley opened #52 "`resolvers` are called inconsistently"
Depending on the length of `resolvers`, they may or may not be called before passing the results to the wrapped function:

[code]

The docs are a little unclear on the exact semantics of `resolvers`, but I take it to mean that the wrapped function should never receive the output of `resolvers` as it is here.

[2016-03-07 18:44] seanohollaren opened #53 "Better documentation for resolvers?"
I'm a huge fan of the built-in stats and cache management tools that memoizee offers, but right now I'm totally puzzled by how I'm supposed to use the resolver functionality.

[Lodash](https://lodash.com/docs#memoize) and [Underscore](http://underscorejs.org/#memoize) resolvers are very straight forward.  For those, you provide a function which returns the key used for the cache map.

Like this:
`

[2016-03-19 08:47] dmaletta opened #54 "Ignore leading arguments"
Is there an option to ignore leading arguments?

[2016-03-19 13:07] medikoo commented on #54
There was a [similiar question](https://github.com/medikoo/memoizee/issues/44) a while ago. It's not really possible, and also use case seems dubious, so there's no plan to provide that.

Still, see workaround I proposed in a comment: https://github.com/medikoo/memoizee/issues/44#issuecomment-137430809

[2016-03-19 13:07] #54 closed

[2016-04-06 12:22] piotrblasiak opened #55 "How to clear cache on parameter change"
I want to use memoize with immutable.js and redux instead of reselect that the redux docs mention and I have the following use case which I think is very common:

**The function signature:**

`function doSomething(state, param1, param2)`

What is special about this function is that if the state changes, the whole cache should be cleared because it is a function that derives data from the current s

[2016-04-21 13:06] medikoo commented on #53
@seanohollaren Firstly, sorry for replying that late, Github notifications failed for me, and it's today I noticed that issue.

`resolvers` are purely about normalization of arguments, _before_ they're provided into caching mechanism and underlying function. This unifies handling of some cases, e.g. if at some argument you expect a number, the default caching mechanism will treat `'2'` and `2` dif

[2016-04-21 13:19] medikoo commented on #55
@piotrblasiak  Firstly, sorry for replying that late, Github notifications failed for me, and it's today I noticed that issue.

The second solution to me seems as the only option. Whether it's expensive relates to how often would that happen and how big save (of memory or CPU) is achieved by caching. Memoization, no matter how optimally implemented produces some overhead, so it may appear that for

[2016-04-21 13:19] #55 closed

[2016-04-21 13:37] medikoo commented on #52
@seanohollaren Firstly, sorry for replying that late, Github notifications failed for me, and it's today I noticed that issue.

What you describe was result of ugly bug. Fixed with https://github.com/medikoo/memoizee/commit/9f86b198f993c0e2469fb8cf151ce5baf09ddadd
Published as v0.3.10

Thank you!

[2016-04-21 13:37] #52 closed

[2016-04-25 11:00] Moeriki opened #56 "Resolver result is incorrectly passed to function"
Since the `0.3.10` update my memoized function incorrectly returns the result of the resolver instead of passing on the input.

My simplified code.

[code]

**Expected**
[code]

**Actual**
[code]

I understand from the commits that a bug in the resolvers has been fixed. Should I update the implementation of my resolver or would this be a regression?

[2016-04-25 11:42] medikoo commented on #56
@Moeriki Yes unfortunately you relied on _bug_ in previous versions.. Resolvers are supposed to _normalize_ the argument which is then passed in _resolved_ form to memoized function.

What you probably wanted to use was `normalize` option. Unfortunately it's not documented well yet, for now see explanation [here](https://github.com/medikoo/memoizee/issues/53#issuecomment-212910309)

I'm closing it

[2016-04-25 11:42] #56 closed

[2016-04-25 12:17] Moeriki commented on #56
I suspected something like this :) Thanks for the clarifications. I updated my code.

[code]

[2016-05-25 14:45] hodeyp opened #57 "Delete question"
Is it possible to delete cached entries based upon just the first argument? In my case, I have a memoized function that caches a transform based upon different groupings. When the underlying data is changed I want to delete all of the groupings in the cache for that object but leave all other groupings for other objects intact. Is this possible?

[2016-05-29 03:06] puzrin commented on #35
https://github.com/nodeca/promise-memoize did a separate simple package. No weakmaps, no lru, no stat... but it works :). Also does not drop cache on prefetch and unref timers.

[2016-05-29 03:19] puzrin commented on #34
For setTimeout it's possible to use the same function if you pass params:

[code]

In browser that will require patch for IE <= 9 https://developer.mozilla.org/en-US/docs/Web/API/WindowTimers/setTimeout

[2016-05-30 06:54] medikoo commented on #35
Great if that works for you, and sorry that I couldn't handle that one earlier

[2016-05-30 06:56] medikoo commented on #34
I'm not convinced it'll bring anything noticeable in terms of performance. I'm sure it's more important to produce less `setTimeout` calls (decide on some threshold) as you suggested before

[2016-05-30 07:35] puzrin commented on #34
https://github.com/nodejs/node/blob/master/lib/timers.js#L283 there are unofficial enroll/unenroll functions. Can be used instead of setTimeout/clearTimeout. But i'm not sure this hack is really needed.

[2016-06-06 15:33] medikoo commented on #57
Sorry for late response (lack of proper notification from github made me seen it today).

Similar question was already asked at https://github.com/medikoo/memoizee/issues/55 See the second proposed solution (it's not possible in direct form)

[2016-06-06 15:33] #57 closed

[2016-06-13 10:05] maxnowack opened #58 "Error: Circular invocation"
Sometimes I'm getting `Circular invocation` exceptions. What exactly does this mean and how can I fix it?

[2016-06-13 11:58] medikoo commented on #58
It means that for same arguments you call function recursively, and that can't work with memoization.

So e.g. you call memoized function with `6` and then internals of that function call again self function with `6`. With deterministic function (and that should be the case for memoization) it will produce infinite recursion, hence early error

[2016-06-13 11:58] #58 closed

[2016-07-04 14:23] medikoo commented on #53
Fixed by https://github.com/medikoo/memoizee/commit/75422fd9dc44144d046b53ea8b395d6c5f325c9d

[2016-07-04 14:23] #53 closed

[2016-07-08 22:02] jameswomack commented on #33
I have the same use case as @liberd

[2016-07-11 07:20] medikoo commented on #33
I plan a bigger overhaul of this package this year, I'll make sure then that this use case is addressed

[2016-07-13 08:13] medikoo opened #60 "Improve 'promise' mode with `thenInjection` option"
/cc @Kovensky

If used implementation doesn't implement `done` and `finally` then it's not possible to do both:
- Return promise as returned by original function
- Register callbacks for internal use without muting eventual _Unhandled error_ events.

The workaround could be, to provide a special mode for _promise_ handling, in which user will agree that memoized function will return extended promi

[2016-07-13 17:59] seanohollaren commented on #53
Looks great, thanks!

[2016-07-18 06:36] medikoo commented on #37
Let's keep it open, I'd like to address that

[2016-08-01 00:00] Rush commented on #60
I just suffered from `memoizee` using the `.done` and me using Bluebird. Bluebird will do `process.exit` inside `.done`.  http://bluebirdjs.com/docs/api/done.html "any unhandled rejection that ends up here will crash the process (in node)"

With bluebird one can use http://bluebirdjs.com/docs/api/reflect.html in order to find the resolved value without side effects.

[2016-08-01 09:00] medikoo commented on #60
@Rush Just setup memoization with `promise: 'then'` option, and it'll be fine.
It's documented: https://github.com/medikoo/memoizee#promise-returning-functions

[2016-08-04 20:18] codyhazelwood commented on #32
@medikoo I'm working on integrating memoizee into an already existing application, and finding that without a clone option a ton of code will need to be rewritten.  Obviously if you know that you're pulling objects from cache, you shouldn't modify them without cloning.  However, in my case, the application was written to pull objects direct from the server, and then the objects are modified and us

[2016-08-05 10:24] medikoo commented on #32
@codyhazelwood what prevents you from adding simple adapter as:

[code]

[2016-08-05 17:50] codyhazelwood commented on #32
It's kind of a mess, but here's what I'm using for now (with promises / Angular):

[code]

[2016-10-19 09:18] zeusintuivo opened #63 "Broken memoizee TEST npm test FAILED"
I am using this script to call the test. Inside a MAC

[code]

I get this error:

[code]

[2016-10-19 11:14] medikoo commented on #63
@zeusintuivo

It looks that you're running tests on memoizee indirectly, via some additional suite, and that affects path data that `tad` receives.

It looks as `tad` doesn't receive the memoizee root path but something else, and crashes. The way it crashes is of course issue on `tad` size, and I'll look into that. There should be something more meaningful.

Anyway I'm pretty sure that everything

[2016-10-19 12:39] medikoo commented on #63
I've investigated it further, and error is caused by `node_modules/tad/bin/tad` (command that's configured for _npm test_ script) being executed not in context of memoizee package folder.

It cannot work properly in such case, as it ended with  search for modules to test not in _memoizee_ but some other place.

In case you had there was no modules to test, and it crashed due to bug in tad, which y

[2016-10-19 12:39] #63 closed

[2016-10-19 13:34] zeusintuivo commented on #63
I will first follow the suggestion

$ npm install memoizee
$ cd memoizee
$ npm test

then try to see what it does.

On Wed, Oct 19, 2016 at 2:39 PM, Mariusz Nowak <notifications@github.com>
wrote:

[2016-10-19 13:35] medikoo commented on #63
@zeusintuivo just be sure install dev dependencies of the project. I've updated my instructions to include another `npm install` directly in memoizee folder

[2016-10-20 07:45] zeusintuivo commented on #63
Perhaps you can also upgrade the version of TAD you are using, which is has
another bug I remoted and now has been fixed."

QUOTING """"""

Mariusz Nowak <notifications@github.com>
2:36 PM (19 hours ago)
to medikoo/tad, zeusintuivo, Author

Indeed there was an issue in handling scenarios when there are no files
found for testing.

It's fixed with v0.2.7, thanks for reporting!

""""

On Wed, Oct 19

[2016-10-20 07:54] medikoo commented on #63
@zeusintuivo fresh install of memoizee will for sure install the latest version of `tad` (no need for any change here), just be sure you removed `node_modules` and clear npm cache (all depends which npm version you're using)

[2016-10-20 08:23] zeusintuivo commented on #63
I did and I still get version

[code]

On Thu, Oct 20, 2016 at 9:54 AM, Mariusz Nowak <notifications@github.com>
wrote:

[2016-10-20 08:29] medikoo commented on #63
I'm not able to reproduce that, here's my output:

[code]

As you see it installs `tad@0.2.7`. While I'm using here Node v4, I'm pretty sure same effect will be with v6

[2016-10-20 08:39] zeusintuivo commented on #63
I installed nvm to manage several version of node
[code]
add to .bashrc, zshrc, .profile, bash_profile
[code]

I am using node 6.8.1, yesterday I updated to 6.9.0. and today 6.9.1
But for mean of this conversation, I keep the same version as when I
reported it 6.8.1

I noticed you are using version v4.6.1..

About the version of TAD

I did wrote this

""""
Disregard last email

[code]

[2016-10-20 08:42] medikoo commented on #63
With nvm if you follow the steps exactly the same way I show, you should have same effect.

Anyway now it's not clear what's the issue on your side. I believe we can agree that it's not tad version that install with memoizee, as that can only be the issue of either npm cache or trying to reinstall over already installed (older) version of tad

[2016-10-20 08:55] zeusintuivo commented on #63
Let talk about TAD now, tests are working and they are failing.

[code]

On Thu, Oct 20, 2016 at 10:42 AM, Mariusz Nowak <notifications@github.com>
wrote:

[2016-10-20 08:56] medikoo commented on #63
Yes it's tests for tad, and they're not provided for some modules. It's known shortcoming still it should be an issue in usage of tad. Also it's not the case for memoizee (in that projects all tests should load fine)

[2016-10-20 09:13] zeusintuivo commented on #63
Yes, right now, I am happy with memoizee testing, even if its by itself.
I  will keep hacking into it .

On Thu, Oct 20, 2016 at 10:56 AM, Mariusz Nowak <notifications@github.com>
wrote:

[2016-10-25 18:17] zeusintuivo commented on #63
Is there a way to know or log out, when cache was used and when cache was
used not.
We want to do this. Is it inside memoizee already, or do I have to do
anyhting special for that?

On Thu, Oct 20, 2016 at 10:56 AM, Mariusz Nowak <notifications@github.com>
wrote:

[2016-10-26 06:46] medikoo commented on #63
@zeusintuivo See profile functionality -> https://github.com/medikoo/memoizee/blob/master/README.md#profiling--statistics it should give you all you need.

If still you want to have events-like access to this data, then it's only possible via injecting custom extension,

[2016-10-26 15:46] zeusintuivo commented on #63
I have this piece of code I am working on,

basically from proxy server.

the output of the app  is stout and it gets captured by supervisord

It receives a request, authenticates places another request and prints the
answer to the stdout,

I am very new to this nodejs, and for the life of me, I have no idea what
this class does

I really would like to refactor it, given it is in EC6 already,
righ

[2016-11-07 04:25] rektide commented on #45
I'd like to see a more general solution that also lets us iterate through all inputs that have been memoized.

[2016-11-07 04:28] rektide commented on #45
Rather, all inputs that still have cached result for that input.

[2016-11-07 08:18] medikoo commented on #45
@rektide By default, intention is that`memoizee` will only store _hash-like_ information (so not the input arguments in exact form, but unique id that corresponds to them).
Having that, what you propose will not be possible directly, but I agree it's a good idea, to have it as an option.

[2016-11-07 10:46] fampinheiro commented on #25
I'm currently hitting this problem. Do you settled in a solution?

[2016-11-07 11:34] medikoo commented on #25
@fampinheiro no it's still not addressed, It will for sure be addressed for v1, but date when that happens is uncertain. PR's are welcome.

[2016-12-09 20:34] xaiki commented on #33
hey @medikoo !

before all: thanks for a great package !
any update on this ?

[2016-12-10 18:07] medikoo commented on #33
@xaiki not yet, and not very soon, Earliest in 1st quarter of next year

[2016-12-12 08:11] ilaif commented on #51
Hey Medikoo,
Thanks for this awesome work. I'm using your package successfully and it has great performance.

I encountered the need for the enhancement stated here.
Is there a roadmap for it, can I contribute in some way?

**My use-case:**
I have dozens of requests per second. Each of them passes through authentication against a MySQL table. Since I have 1 db instance, then sometimes, during big

[2016-12-13 10:45] medikoo commented on #51
@ilaif it's unfortunately not easy to address with current internal design, which doesn't really allow to refresh the value without invaliding the cache upfront, and at same time make this operation not problematic and transparent to any eventual extensions to which internals try to remain agnostic.

I plan to refactor the internals so handling cache that way is possible and straightforward (shoul

[2017-01-22 10:45] tusharmath opened #65 "[Feature] Limit Cache Size"
This is a real use case especially while building frontend apps and memoizing the view functions. I would personally want to restrict the cache size to `1` for such cases.

Eg:
[code]

Generally the view returns really large objects which can cause a significant performance impact if one starts caching all the values.

[2017-01-22 10:48] tusharmath commented on #65
Sorry found how we can do that :D https://github.com/medikoo/memoizee#limiting-cache-size

[2017-01-22 10:48] #65 closed

[2017-02-05 03:57] jdylanstewart opened #66 "Properties on functions not passed"
const newFunc = () => true;
    newFunc.state = false;
    const memoizedFunc = memoize(newFunc);

`memoizedFunc` does not retain the `state` property.

This should be as simple as iterating through keys and applying them to the memoized function.`Object.keys(func).forEach((key) => { returnFunc[key] = newFunc[key] })`

[2017-02-06 06:24] vinaykharecha opened #67 "What is cache size unit?"
In document i can not find **unit** of **cache size** limit, weather it is KB, MB etc.
Please clarify that it would be very helpful.

[2017-02-06 09:22] medikoo commented on #67
@vinaykharecha `size` is purely about how many results to cache. e.g. if `max` is _1000_, then result will be cached only for _1000_ different function calls (on LRU basis).

Library doesn't try to measure how big memory cost is behind certain cache values, but maybe at some point such feature will be introduced

[2017-02-06 09:22] #67 closed

[2017-02-06 10:29] medikoo commented on #66
In memoizee _function_ is treated as nothing more than a _function_, and I would prefer not to extend library with logic as proposed.

Mainly to not introduce additional level of complexity, but it also may appear as not that straightforward as it seems, I can imagine cases when such behaviour may be unwanted.

Use cases are rare, and if you really need it, you can on your own introduce a decorato

[2017-02-06 10:29] #66 closed

[2017-02-06 10:45] medikoo commented on #67
I've also improved documentation, to make that clear https://github.com/medikoo/memoizee#limiting-cache-size

[2017-02-07 16:08] epayet commented on #33
Hi @medikoo

First of all, great work on this module :)

I have a use case very close to what was explained here. What I want to do, is when the maxAge is reached and you need to call the original function again, if this fails, I want to respond what was in the cache before (even if it is stale).

For that, I need **read access to the cache** so that I'm able to respond something even if the origi

[2017-02-08 08:38] medikoo commented on #33
@epayet your case is very close to one reported at #51 I plan to work on addressing that in March, I'll ensure same handling would be possible for `maxAge` when used with no `prefetch` option

[2017-02-08 11:19] epayet commented on #33
Thanks @medikoo !
It looks like the case described in #51 is exactly what I need :)

[2017-02-14 15:01] epayet opened #69 "What about using dynamic arguments length by default"
Hi @medikoo

I know that `By default, fixed number of arguments that function take is assumed (it's read from function's length property)`.
I had an interesting case where that did not make sense for me, let me explain.

I'm using ES6, and transpile to ES5 using babel as many people do. I have a function which takes an optional parameter called `options`. It is an object and might contain a parser

[2017-02-14 15:15] epayet commented on #69
Again, I find it great to have the library configurable, I just wonder what default option makes more sense. Hope it can help 👍

[2017-02-14 15:56] medikoo commented on #69
Babel does the right thing, as optional arguments are not counted in function's length by spec, and it's also the case in ES5, where optional arguments are not listed in function signature, but usually defined as e.g.:

[code]

Yes, `length` option should be used if default behavior is not intended.

And answering the question, I don't think that changing _default_ is a good idea.
There are not ma

[2017-02-14 15:56] #69 closed

[2017-02-14 16:08] epayet commented on #69
Thanks for your answer, it makes more sense now.
You want to keep `length: false` as a specific case. I also get that it might have some side effects on changing the default behaviour.

Playing with default arguments is quite tricky! To work with that, one needs to understand what it becomes with ES5, and decide what to do with it (either `length: false` or ever better, use a custom normalizer as

[2017-02-20 01:29] rokoroku opened #70 "Cannot use 'normalizer' with WeakMap mode"
We cannot use `normalizer` option with weakmap mode.
When combined with normalizer, it throws a TypeError: undefined is not a function.

Example usage:
[code]

[2017-02-20 08:08] medikoo commented on #70
@rokoroku I'm not able to reproduce. Code you provide is not a valid JavaScript, and when I try something closest using the valid syntax, as below, there's no error

[code]

Can you provide a test case using valid JS syntax that shows the problem?

I'm closing it for now, as I don't see the issue, but I'll be happy to reopen if valid test case will be provided

[2017-02-20 08:23] rokoroku commented on #70
Ah, sorry for the lack of introductions.

if you call weak-memoized function, it throws an error.

[code]

[2017-02-22 05:23] rokoroku opened #71 "Exposing `memoizee/weak` as a build option"
Why not have we `memoizee/weak` as a build option like ` { weak: true } `?
Rather than importing two modules, it seems good to use it as a build option.

[2017-02-22 08:13] medikoo commented on #71
Good question.

Main reason is that, handling of _weak_ mode is very different from default, and if it's multiargument case, then it comes down to memoization factory (where memoized function is created per every different first argument (object), similarly as with `memoizee/method` where we have memoized function per each different `this`).

Anyway I plan in March, to do larger refactor (which wi

[2017-03-13 11:13] medikoo opened #73 "v1.0 API"
A _live_ (updated in place) proposal for v1.0 API:

---
Signature of main memoizee function  will remain same: `memoizee(fn[, options])`

## Supported `options`:

#### `contextMode`, possible values:
  - `'function'` _(default)_ target of memoization is regular function
  - `'method'` target of memoization is a method
  - `'weak'` target of memoization is regular function which takes an object as

[2017-03-15 11:50] wan54 opened #74 "clear cache"
calling clear() on a memoized function doesn't seem to work.

example:
[code]

any ideas why clear() does not have any effect?

Thanks

[2017-03-15 13:36] medikoo commented on #74
@wan54 your example seems incomplete. Can you provide a complete test case, that exposes eventual issue?
 In what you've shown, many things can happen.. e.g. external module may call `exportedFn` few times, while `setInterval` will clear  cache only to last one generated.

[2017-03-15 20:06] shaharmor opened #75 "Write library size in README"
Hi,

It would be great if the size of the library will be listed in the README for users that want to use it in the browser

[2017-03-16 07:17] medikoo commented on #74
With `clear` you clear the cache totally, and you go back to initial state, so it's normal that next invocations will produce similar profile output as first one. Unless I don't understand something (?)

[2017-03-16 07:22] medikoo commented on #75
@shaharmor library size in browser depends on what functionalities you want to use.
e.g. you can take all of them with:

[code]

Or just pick ones you want to use with:

[code]

Therefore there's no one answer to that. It will require some configurable generator, which I'm not sure if is really that important feature, taking into account amount of work it may need.

At this point I'm going to clos

[2017-03-16 07:22] #75 closed

[2017-03-16 21:13] wan54 commented on #74
I was questioning why the initial hit increases in the subsequent clear and call.

[2017-03-17 08:26] medikoo commented on #74
@wan54 you mean, why counter was not reset after clear?

The profile functionality is global, it covers all memoized functions registered in a process, and doesn't have any _reset counter_ function. Would you like to see it? I think it makes sense to add it

[2017-03-19 00:28] wan54 commented on #74
Yes that'd be great. Thanks.

[2017-03-20 07:43] medikoo commented on #74
Ok Iet's make this issue about that. I'll leave it open until it's addressed

[2017-03-28 16:13] cheapsteak opened #76 "Persist cache?"
Can cache be persisted and loaded to, say, local storage?

[2017-03-29 09:54] medikoo commented on #76
At this point it's not easily possible,  but it'll be addressed with v1 (see proposed API: https://github.com/medikoo/memoizee/issues/73 ), which I should start addressing in next days.

As same feature was requested with #33 I'm closing this as duplicate.

[2017-03-29 09:54] #76 closed

[2017-05-09 12:10] Junkern opened #78 "maxAge: 0 should disable the cache"
When using memoizee, I inject a config variable as the value for `maxAge` so I can use different values for different environments (prod, dev, testing...).

When setting `maxAge: 0` I would expect that the cache is disabled, as every value is cached for 0 milliseconds.. This seems not to be the case, however.

More information, if needed:
On production I use memoizee to minimize calls to other ser

[2017-05-09 12:18] medikoo commented on #78
Thanks for reporting, interesting use case.  Currently this setting follows `setTimeout` behavior. So `0` delays cache purge until callback in `setTimeout(fn, 0)` is released.

Still I agree that it might be nicer, if it just disables the cache in such case

[2017-05-09 13:00] Junkern commented on #78
Thanks for the quick response!

I still have one question:

Do you mean, that the cache is purged *after* the callback is finished? (So after the memoizeed function has finished its first call?)

[2017-05-09 13:09] medikoo commented on #78
Sorry, no, in case of `0` [whole `maxAge` setting is ignored](https://github.com/medikoo/memoizee/blob/ad7aef71706d3adb769483489142de90217a5f68/ext/max-age.js#L19). However if you pass `1` you'll have cached purged shortly after call.

[2017-05-09 13:20] Junkern commented on #78
Makes totally sense. I also have looked into the code and seen the `if (!maxAge) return;` but I thought maybe the line before (`maxAge = timeout(maxAge);`) introduces some magic.

I am passing `1` for now, but I would be happy if `0`will disable the cache:)

[2017-05-09 20:45] vprus opened #79 "WeakMap mode ignores maxAge"
It appears that if I `require(memoizee/weak)`, then it does not respect `maxAge` option. The following program prints the same value all over:

[code]

If I add
[code]

[2017-05-10 06:41] #79 closed

[2017-05-10 06:42] medikoo commented on #79
Great thanks for reporting, fixed with f29a97b published as `v0.4.5`

[2017-05-10 08:22] vprus commented on #79
Thanks, I can confirm that v0.4.5 works fine.

[2017-05-19 20:34] Rush commented on #73
`maxAge` has always been confusing to me. `ttl` would be vastly more intuitive (or `timeToLive`)

[2017-05-19 20:36] Rush commented on #73
Is it possible to make this configurable? I don't want `memoizee` to support bluebird out of the box but it would be cool if we could hook in a custom way to work with promises.

[2017-05-20 09:21] medikoo commented on #73
What exactly do you mean? `promise` mode won't be forced in any way, and support will be generic (no matter what promise library you're using - if it's compliant it will just work. It actually already works that way, with small difference that sometimes you need to do `promise:then` instead of just `promise` to avoid issues in some implementations.

[2017-05-24 15:46] Rush commented on #73
@medikoo isn't [this](https://github.com/medikoo/memoizee/blob/master/ext/promise.js#L56) a good reason to provide custom way to introspect promises?

[2017-06-01 20:37] medikoo commented on #73
I think `then`, `done` and `finally` are pretty standard, and internal handling of those should allow to solve it well for any promise library (without sharing other custom ways)

[2017-08-02 17:30] hexsprite opened #81 "Circular invocation when not recursive?"
I'm having intermittent Circular invocation errors.

Here is the traceback:

[code]

These are the arguments:
[code]

This is the actual memoized function, note logArgs is just a wrapper to log the arguments that were passed when the exception occured.

[code]

[2017-08-03 11:15] medikoo commented on #81
@hexsprite stack trace you've shown is most likely incomplete. Be sure to put following as first line in you program

[code]

Having that, you should be able to see the stack which will expose circulal invocation.

You can also see that this error cannot really happen otherwise, see logic within memoize
1. Check if we have cached value for given id -> https://github.com/medikoo/memoizee/blob/f1964

[2017-08-03 11:15] #81 closed

[2017-08-10 14:57] hexsprite commented on #81
I think this may be particular to Meteor as it runs everything within a node-fibers environment. The current running Fiber may yield at any time due to a DB request, like in this case.

I think I may be able to somehow make this work with the async version of memoizee if I figure out how to wrap it somehow. Or instead of using a Fiber-based DB call I could use a promise based one.

PS. may be wort

[2017-08-11 07:46] medikoo commented on #81
Please describe case more precisely, then I may add some note about that, but anyway it's barebones JS, and circular invocation is as simple problem as described. I'm not sure whether adding notes about characterstics of complex ecosystem on top would really help. It may give feeling that things are complicated when they aren't (at memoizee level)

[2017-08-11 14:50] hexsprite commented on #81
Sure, I understand.  I think Google will point people here hopefully.

Basically Meteor uses Fibers to avoid callback hell (this was before async/await). What that means is that the code looks synchronous but actually a call to Collection.find() method could in fact allow another Fiber to run while it's waiting for that request.

In my case I was memoizing a DB lookup. So it's pretty likely that w

[2017-08-21 15:39] damnhipster opened #82 "Naming cache buckets for profiling"
When wrapping calls to memoizee in a module, the profile records all calls under a single bucket for the module.

[code]

Having a parameter to specify to name the bucket would be useful.

[code]

Wrappers could then pass this through to memoizee and can be used instead of the source location.

[2017-08-22 06:32] medikoo commented on #82
Ok, so some `profileName` option, to replace location of initialization.

Good proposal, I'll keep it in the backlog. Thanks

[2017-08-24 14:05] #82 closed

[2017-08-25 19:03] SzybkiSasza opened #84 "Rejecting the Promise does not invalidate the cache"
Hi!
I want to begin with the claim that I really appreciate this library! It's feature rich and helped us a lot with solving some of the issues regarding caching the requests.

However, I was trying to memoize function returning a Promise and run into a problem of the cache not being invalidated in the case the Promise is rejected

As an example, I prepared following code, based on the README exam

[2017-08-25 19:07] SzybkiSasza opened #85 "Fallback to the old cache"
I wanted to propose a new feature - as the library is able to react and invalidate the cache in the case of error thrown in memoized function, maybe implementing fallback behaviour would be something that would be useful?

Imagine the situation - we memoized the function that obtains some data over the network. After the cache got invalidated (e.g. by manual cleaning or reaching `maxAge`), next ca

[2017-08-26 10:50] epayet commented on #85
The memoized function has an internal cache, but it's not really publicly exposed. You're doing the same behavior here with the `cache` variable.

This was referenced on some issues before, and I made a PR (https://github.com/medikoo/memoizee/pull/72) to have a way to read from the cache.
It works like this:

[code]

With this, you can have some logic around failures, and if it fails you can read

[2017-08-29 08:06] medikoo commented on #84
@SzybkiSasza Thanks for report, I looked into it closer, and in case of your snippet, where you call `memoized` immediately in `promise.catch()` callback, it's actually expected, let me explain:

Promise native's `then` comes with side effect of error-swallowing. Code executed in callback is run as within `try/catch`, where eventual errors are swallowed. Some engines do provide mechanism to inform

[2017-08-29 08:06] #84 closed

[2017-08-29 08:11] medikoo commented on #85
This actually was discussed before, see -> https://github.com/medikoo/memoizee/issues/51#issuecomment-174465319. Unfortunately it's not that easy to implement with current design, but will be definitely addressed with [V1](https://github.com/medikoo/memoizee/issues/73)

If that helps for now, you may resort to methods proposed by @epayet

I'm going to close it, as it's duplicate of #51 which remai

[2017-08-29 08:11] #85 closed

[2017-08-29 08:17] medikoo commented on #60
@Rush I've improved internal handling, so now by default when using Bluebird `then:finally` mode will be used. `done` mode is not recommended (and since v0.4.7 not applied by default) for reasons you mentioned (unconditional crashing in case of rejections)

[2017-08-29 08:20] jeffijoe opened #86 "Error: Can't resolve 'es5-ext/to-short-string-representation'"
Memoizee v0.4.8

Occurs in Webpack 3 build.

OS: macOS Sierra

[code]

Latest known working version: 0.4.6.

[2017-08-29 08:43] medikoo commented on #86
@jeffijoe thanks. it requires`es5-ext` at at least `0.10.28` which indeed was not forced in dependencies configuration

Fixed with `0.4.9`

[2017-08-29 08:43] #86 closed

[2017-08-29 08:43] jeffijoe commented on #86
Excellent, thanks for the quick fix @medikoo !

[2017-08-29 15:43] Rush commented on #60
@medikoo thank you! exciting

[2017-09-06 21:50] gajus opened #87 "Unhandled rejection; breaking change"
Whatever change has been made in the last 7 days is causing my code to throw unhandled rejection. Assuming this is not a bug/ regression, this should have been a major version release.

[2017-09-06 21:52] gajus commented on #87
It appears that setting `promise: 'then'` returns the original behaviour.

[2017-09-07 06:39] medikoo commented on #87
@gajus can you provide more details? `memoizee` on it's own doesn't throw and never thrown unhandled rejections.

There was a change to promise handling, but it was more in a category of bug fix, than new feature.
It's in older version where `memoizee` by default, assuming promise implementation provided `done`, thrown on rejections (and not necessary unhandled), it's not the case anymore.

[2017-09-07 06:46] medikoo commented on #87
@gajus I looked closer and indeed there's a bug in promise handling, fix will be coming shortly.

[2017-09-07 07:02] medikoo commented on #87
Fixed with https://github.com/medikoo/memoizee/commit/5b79698ef92dc3931719c4acff13f3998abb9184 and published as v0.4.10

Problem is that `then:finally` mode (which was turned on as default in case of promise implementation implenenting `finally`) stood on flawed assumption, that following won't report unhandled rejection:

[code]

Thing is that promise created by `promise.then` also comes as rejec

[2017-09-07 07:02] #87 closed

[2017-09-08 17:46] plasticrake opened #88 "Best way to test memoized functions?"
I'm trying to write a test to check that my function is using the cached value. From what I can tell the only exposed properties are `__memoized__` and `_has()` and `_get()`.

Also many of my memoized functions take no arguments and _has() and _get() don't seem to work on those.

[code]
[code]

Is there an example on the best way to test this? I looked at some of the test scripts here but it looke

[2017-09-11 07:52] medikoo commented on #88
@plasticrake Firstly, tests confirming that memoization works as expected are included in `memoizee`. I don't think it make sense to double them in any utilities that rely on `memoizee`.

Still I understand that you may want to conduct some _sanity_ check, to confirm that indeed given function is memoized (so wrappped with `memoizee` or any other memoization provider).

Doing that library agnostic

[2017-09-11 10:49] epayet commented on #88
I think @plasticrake pointed out a real issue.

A few tests, running on node:8.4.0:

Everything works fine with this:

[code]

But it crashes with the example he gave:

[code]

It seems that the function `get` is undefined when the original function doesn't take any parameters?

[2017-09-11 11:05] #88 closed

[2017-09-11 11:07] medikoo commented on #88
Great thanks @epayet indeed, I didn't read as through the example

Fixed with 7cb1c7a603abcedc9cc021dc700a3d14b4791c80

Published as v0.4.11

[2017-10-30 17:22] nguyeti commented on #28
How do you retrieve data once data is cached?

[2017-10-31 07:47] medikoo commented on #28
@nguyeti In normal mode input arguments are stored in an array, which is an index mapping to result array. So knowing index of input argument you get to know index of result within result array.

[2017-10-31 13:00] nguyeti commented on #28
Thank you very much.

I noticed that the input arguments are used to identify the data in the delete method for example. But I can't find the ext Get method you and epayet exposed, how can I use it to access the result array?

[2017-10-31 15:02] medikoo commented on #28
@nguyeti there's no direct access to cache provided. What use case you have for that?

[2017-11-09 01:06] PandaWood opened #90 "Non npm/build-library file?"
I feel incredibly stupid here, but I'm working on an old project with no webpack or build tool.
And I cannot understand how to include this library.
I wonder why there is no single file for inclusion in the release or that can be built?
Practically every library has this...
Have I missed anything - or is there really no catering for us simple downloaders ?
(ie normally there's a "src" folder and/o

[2017-11-09 08:24] medikoo commented on #90
@PandaWood this was developed with high modularization in mind in already a Node.js era. Where organizing dependencies with small external files seemed a way to go (and a huge step forward when looking at how we dealt with scirpts In _old days).

Anyway you can easily build such standalone library file. I'm not exactly sure how to do it with [Browserify](http://browserify.org/) or [Webpack](https:

[2017-11-09 08:24] #90 closed

[2017-12-02 17:58] oscarvgg opened #91 "Will this package maintain cache between app runs?"
I'm writing a command line app that communicates with a server.
It works like this: Every time the user runs a command, the app requests some data, prints it on the console and finishes with `process.exit`.
Will this package cache the results from the server between command executions? or all the data dies when the app exits?

Thanks.

[2017-12-04 09:57] medikoo commented on #91
No, at this point it's only in-memory caching with no options to store and restore from some persistent layer.

Still, this feature was [already requested](https://github.com/medikoo/memoizee/issues/33) and will be provided with upcoming [v1](https://github.com/medikoo/memoizee/issues/73).

I'm going to close it as duplicate

[2017-12-04 09:57] #91 closed

[2017-12-08 13:50] aalexgabi opened #92 "Is there a way to geep cache alive until the provided function does not throw?"
For example I want to keep a cache that avoids executing a db query but I want that the cache is still available if db is down.

1. Call memoized function that returns db a value
2. Db goes down
3. Cache expires
4. Call memoized function that tries to query db which fails but still return the old value from the cache instead of failing

The idea is that sometimes is desirable to have an older valu

[2017-12-08 14:13] medikoo commented on #92
@aalexgabi it is planned to be provided with v1.

See description of `invalidationSpan` option at `ttl` section in https://github.com/medikoo/memoizee/issues/73

[2017-12-08 14:13] #92 closed

[2017-12-08 15:56] aalexgabi commented on #92
@medikoo Thank you.

[2018-01-14 20:23] breathe commented on #33
I'd like to use the cache import/export functionality in my test-suite (jest).

For my use, I will monkey patch the http client library (axios) used in my test-suite to optionally use a memoizee'd version.  Then when executing the test suite I can choose to run service-level tests (by running suite without loading the memoizee cache or injecting the custom axios implementation) or to run faster-ex

[2018-02-23 15:32] madnight commented on #25
Same problem here under Arch Linux. The `maxAge` values prevents node from shutdown for the time period defined in `maxAge`.

[2018-02-23 15:50] #25 closed

[2018-02-23 15:52] medikoo commented on #25
Fixed following advice by @puzrin from https://github.com/medikoo/memoizee/issues/25#issuecomment-174235094 (not sure why it took me so long, sorry about that).

Published as v0.4.12

[2018-02-23 15:55] medikoo commented on #25
On additional note, with v1 there's a plan to not rely on timers at all.
Whether value is stale will be confirmed at invocation. Downside is that cache may grow in memory without control, but that can be further adjusted with `max` setting

[2018-02-26 13:53] john681611 opened #93 "Rejected Promise stays in Cache"
We seem to be finding that rejected promises are still being stored in the cache.
Here is the test we are using.
Modules used: Mocha,Sinon,Chai,Chai-as-promised;
[code]
Output:

 expected stub to have been called exactly twice, but it was called once
    stub() => [ZoneAwarePromise] { __zone_symbol__state: false, __zone_symbol__value: Error: Bang! } at memoized (/Users/c2444781/Documents/mns-fe-fo

[2018-02-26 14:01] medikoo commented on #93
@john681611 rejected promise is released from cache after rejection is discovered. Here you run second test _before_ rejection is discovered.

It all comes down to design of promises. You're not capable to get value of a promise synchronously, but earliest in next event loop. Therefore even if memoized function immediately resolves with rejected promise, the memoizee internals can learn about it _

[2018-02-26 14:01] #93 closed

[2018-02-26 14:24] john681611 commented on #93
The code in the `setTimout` never fires

[2018-02-26 14:27] medikoo commented on #93
Then there must be some issue with your setup. It's hard for me to see why `setTimeout` doesn't work on your side.  You may prepare some reproducible test case on codepen or jsbin, from that we can move forward

[2018-03-20 18:14] SeeThruHead opened #94 "can't figure out why cache is being hit"
[code]

in my local environment:
[code]
NODE_ENV=production (on qa server)
[code]

I wouldn't ask this if i have a clue what was happening, hoping you might have an idea

[2018-03-20 18:15] SeeThruHead commented on #94
is there some way to show what's in the cache on every execution? and what memoizee is using to index the cache? a debug mode perhaps?

[2018-03-20 18:32] medikoo commented on #94
@SeeThruHead what you shown doesn't expose all the details. Some questions:
- Memoizee internals decide on caching algorithm basing on function length. What is the length of function that's result of `R.pipeP(..)` call?
- What are the arguments (specifically `input`) with which the memoized function is called? What is this exactly an _object_? _string_ ?

I'm gonna close this as it's not a bug rep

[2018-03-20 18:32] #94 closed

[2018-03-20 18:38] SeeThruHead commented on #94
thank you for taking the time to help, the function length resulting is `1` and the argument for each call is typeof `string`

[2018-03-20 18:44] medikoo commented on #94
In such case cache hit will only occur if function is called with string it was already called with. There's on other possibility.

If you feel it's otherwise, increase logging (ensure that argument is indeed string) and ensure that indeed function that's put to `memoizee` has `length` 1

[2018-03-20 19:47] SeeThruHead commented on #94
thank you very much, this very incredibly helpful to track down the offending cause.

[2018-04-01 11:09] saggiyogesh opened #95 "Not working, on using default parameters in memoized function"
[code]

In the above snippet, `fn` is the memoized version of `fn1` which is having a default parameter.
When an object is passed in the arguments, `fn1` still returning results of default arguments, ignoring the passed argument (o).

[2018-04-03 08:10] medikoo commented on #95
This actually works as intended. `memoizee` by default only takes into account mandatory arguments (resolved on basis of function's length).

To force `memoizee` to take into account optional arguments (ones with default values) you need to pass `length` option (in above case `length: 1`, as for your function `length === 0`)

[2018-04-03 08:10] #95 closed

[2018-04-03 09:25] saggiyogesh commented on #95
Yeah thanks, it's working now after giving `length` option.
Please update the same in the documentation.

[2018-04-03 09:41] medikoo commented on #95
Documentation was actually quite clear on that: https://github.com/medikoo/memoizee#arguments-length. Still I added a note about how default parameters behave (language feature) -> https://github.com/medikoo/memoizee/commit/a988fe35ee4533858e88b64829e4dc06f79efe53

[2018-05-27 22:09] faboulaws opened #96 "Add option for custom profiler"
First off, thank for writing such a great module. I love it.

I know the profiler is only for development purpose but it do somuch more. I would like to suggest the option to pass a custom profiler or listener. The current profiler ('memoizee/profiler') not only works as a global profiler but does not work when it is required after a function was memoized . In other words, any function memoized be

[2018-05-29 10:33] medikoo commented on #96
@faboulaws can you explain well your use case, what exactly you want to achieve?

Here you propose a solution, but I'd love to know what problem we're really solving, that we way we can both pickup best solution :)

Also mind there's a [v1 version](https://github.com/medikoo/memoizee/issues/73) design proposed, and in that version you'll be able to observe events for all cache operations per memoi

[2018-09-04 06:37] medikoo commented on #33
Unfortunately not yet

Yes, it is. 1.0 is specced out at #73 and at convienient moment will be implemented. Still at this point delivery date is uncertain

[2018-09-04 12:32] JeffSpies commented on #33
You definitely have the best js memoization library, and while I understand that it wasn't the original purpose, I do think persistence would be an impactful feature (e.g., every http request library has multiple caching/VCR libraries). If you had a moment to document your desired approach, there may be folks (myself included) that could help.

[2018-09-07 20:03] Rush opened #98 "Idea: memoizing observables"
I have just figured out a way to use memoizee for RxJS:

[code]

Is there a chance you're going to support this out of the box or would you rather see a library "memoizee-rxjs" or something along these lines?

Anyway - sharing this snippet here in case somebody finds it useful.

[2018-09-10 07:13] medikoo commented on #98
@Rush can you reedit your message, so example is in plain JavaScript? Otherwise it's hard for me to relate to it.

[2018-09-17 16:04] amaurymartiny opened #99 "Different cache id resolution per argument"
My function has signature:

[code]

If I understood well, when I memoize that, it memoizes by object reference:
[code]

I wish to memoize the 1st argument by its serialized version, and the 2nd argument by object reference. Namely, if:
[code]
The I want the 3 following tests to pass:

Test 1:
[code]
Test 2:
[code]
Test 3:
[code]

Is that possible with the current version?

[2018-09-17 20:12] medikoo commented on #99
Yes it is, but you need to provide you're own normalizer, which can work as e.g.:

[code]

[2018-09-17 20:12] #99 closed

[2018-09-17 20:18] medikoo commented on #99
Alternatively, if it would be the case where _first__ argument is expected to be mapped by reference and second by serialized representation, it can be done more straightforward with `weak` mode:

``javascript
var memoizeWeak = require("memoizee/weak");
const memoized = memoizeWeak(f, { normalizer: ([,b]) => JSON.stringify(b) });
[code]

[2018-09-19 13:10] fazouane-marouane commented on #73
@medikoo would you need some help on this? I can particularly help a bit on the LRU part. I noticed the use of objects and loops while Maps and linked list may be better suited for the task.

[2018-09-19 21:41] Rush commented on #98
Will do

[2018-09-25 05:22] amilajack opened #101 "CI tests are running against legacy node"
<img width="1126" alt="screen shot 2018-09-24 at 10 21 45 pm" src="https://user-images.githubusercontent.com/6374832/45994398-4bff4900-c048-11e8-8249-24e25e24fdd0.png">

[2018-09-25 07:19] medikoo commented on #101
Indeed configuration was not updated. Fixed now -> https://ci.appveyor.com/project/medikoo/memoizee

Thanks!

[2018-09-25 07:19] #101 closed

[2018-09-25 12:28] fazouane-marouane commented on #73
@medikoo a quick update on the subject, we'll have soon a speedup of x18 on integer keys and between 2.5x and 5x on string keys. It'll be a dropin replacement for the current lru-queue implementation. I'll propose a pullrequest soon. I'll test https://www.npmjs.com/package/hashtable first, as I suspect it'll bring even more speedup for string keys.

[2018-10-19 13:50] GlebDolzhikov opened #102 "How cache could be not saved in some cases?"
I use memoizee in redux selectors. Some time i understand that i shouldn't save this result to cache, but include same computation to the normalizer don't make any sens. I read about promises that not saved on reject but my function is synchronous and i glad to keep it as it is, how can i not write cache!

Thanks.

[2018-10-19 13:55] medikoo commented on #102
See: https://github.com/medikoo/memoizee#manual-clean-up

[2018-10-19 13:55] #102 closed

[2018-10-19 13:57] GlebDolzhikov commented on #102
But how can i do this if the cache wasn't written at this moment?

[2018-10-19 14:09] medikoo commented on #102
If you ask whether you can prevent storing value in cache (instead of deleting it right after it's stored) then that (composition-wise) should be configured on top of memoized function (there's no way to force it internally), so:

[code]

[2018-10-19 15:05] GlebDolzhikov commented on #102
yeah, probably i need put this checks before invocation, thanks for your answers!

[2018-10-31 15:04] earonesty opened #103 "Don't memoize undefined"
Feature idea: tell memoizee not to memoize a result.

Right now if i never want to memoize an undefined result, i have to write a wrapper lambda that deletes it right after memoizee adds it.   Which is OK.   But it woudl be cool if there was an optional argument:

`memoized = memoize(afn, { promise: true, except:(res)=>{res == undefined} }`

[2018-10-31 15:09] medikoo commented on #103
This is similar request to: https://github.com/medikoo/memoizee/issues/102

For composition reasons I would keep it out of memoizee internals, still can you describe the use case in more detail?

[2019-01-08 03:37] jameskhamil commented on #33
Guys, it's been four years lol, maybe it's time to use a different library

Here's one: https://github.com/borisdiakur/memoize-fs

[2019-06-03 15:13] jacek-jablonski opened #104 "memoizee in TypeScript's class?"
Hi I would like to use memoizee in TypeScript's class, f.e.:
[code]
However, it complains that: I have `TypeError: this.getUser is not a function`. Why is that? What is proper usage of memoizee in TypeScript's classes?

[2019-06-03 15:22] medikoo commented on #104
It looks to me as some syntax issue. From error message it's clear that there's no `getUser` method accessible from context of `fetchProfile` method.

I'm not perfectly familiar with TS syntax, so it's hard for me to help you.

Also `memoizee` is a plain JS project, and here code snippets should also be posted in plain JS (one that runs with no transpilation in modern engines).

I suggest to post

[2019-06-03 15:22] #104 closed

[2019-10-18 10:03] msheep commented on #104
You can try

getUser = () => memoize(UserAPI.getUser, { maxAge: 10 * 60 * 1000, promise: true })

[2020-01-08 23:29] stovak opened #107 "File does not exist"
File does not exist in latest version of this module:

require("es5-ext/object/normalize-options")

Throwing errors.

https://github.com/medikoo/memoizee/blob/a3bb4beae8ec2940f5f6c837f7993cbf2e7c7729/index.js#L3

[2020-01-09 12:53] medikoo commented on #107
@stovak there must be some issue with you're setup. Given module exists in `es5-ext` -> https://github.com/medikoo/es5-ext/blob/v0.10.53/object/normalize-options.js

[2020-01-09 12:53] #107 closed

[2020-02-20 18:10] asherbig opened #108 "Is this package Angular AOT compatible?"
I was wondering if the decorator works when compiled with Angular's AOT compiler.

[2020-02-20 18:24] Rush commented on #108
It's not a decorator. You need to roll out your own decorator.

I'm using memoizee with Angular AOT all the time.

On Thu, Feb 20, 2020, 12:11 Alex Herbig <notifications@github.com> wrote:

[2020-02-25 07:03] amitm02 opened #109 "typescript import if WeakMap mode"
How can I import memoizee in typescript?
(var memoize = require("memoizee/weak"); in JS)
@types/memoizee does not seems to have any "WeakMap" variant.

[2020-02-25 16:48] Rush commented on #109
Just a user of memoizee here, not a maintainer but I think the types are not maintained in this repo. You would have to report the issue to the @types/memoizee author.

[2020-05-03 10:37] richardscarrott opened #110 "Memoize options hash argument by identity"
Given a function which accepts an options hash, e.g.

[code]

Is this possible?

[2020-05-04 11:41] medikoo commented on #110
@richardscarrott it is possible, but it's quite specific case, to which you need to prepare a normalizer manually.

Problem is that you need to identify `Fib` instances by primitive, and if you don't have straightforward means to do that, you may help yourself with other memoizer as e.g.:

[code]

[2020-05-08 20:50] richardscarrott commented on #110
I see, that is quite specific. I wonder if it would be possible to expose a `getCacheKey` option, allowing call sites to return an array, e.g.

[code]

[2020-05-09 17:27] medikoo commented on #110
@richardscarrott sorry, I don't understand suggestion.

To be able to cache invocation we need some primitive (string) identification key, which is resolved out of arguments, `normalizer` serves exactly this purpose.

[2020-05-10 13:29] richardscarrott commented on #110
@medikoo If all cache keys are strings, how does the following work:

[code]

Does the cache not accept an array of values which are each checked by identity?

[2020-05-10 15:15] medikoo commented on #110
Under the hood, string id is generated for given arguments. By default different instance is treated as different value, so it works as you point.

Still you may provide your own cache id generator (via `normalizer` option), where you can recognize different instances as same value and produce same cache id accordingly

[2020-05-10 18:31] richardscarrott commented on #110
I see, so sounds like the default normalizer works in a similar way to your first solution to this options hash where each instance get's a unique id. Thanks for the insight.

[2020-05-10 18:31] #110 closed

[2020-05-11 20:42] perstromswe opened #111 "Cannot find module 'event-emitter'"
When I try to run my app on azure windows I get:

Mon May 11 2020 18:18:23 GMT+0000 (Greenwich Mean Time): Application has thrown an uncaught exception and is terminated:
Error: Cannot find module 'event-emitter'
Require stack:
- D:\home\site\wwwroot\dist\node_modules\memoizee\lib\configure-map.js

Maybe event-emitter should be replaced with something?

[2020-05-12 07:12] medikoo commented on #111
@perstromswe Ensure to install your project with `npm install`. `event emitter` is listed as one of the project dependencies

[2020-05-12 07:40] perstromswe commented on #111
I have run npm install (npm ci). The project has around 50 dependencies. If I remove the email-templates package which uses the memoizee pacakage, the app works in windows azure. Wierd since it works on my dev-machine. So it must be something windows-related.

[2020-05-12 07:43] medikoo commented on #111
@perstromswe On windows `npm` should also work without issues.

I take it's some issue with your Azure setup, and you probably should seek help on some Azure forum.

I'm going to close this as it's definitely not a problem with `memoizee`

[2020-05-12 07:43] #111 closed

[2020-06-25 20:45] mssngr opened #112 "Dependency on "D" renders this useless"
Whoever maintains the `d` package just pulled their code from NPM. `memoizee`, which depends on `d` can no longer be used, except with someone who hasn't wiped their `node_modules` recently.

[2020-06-25 20:47] mssngr commented on #112
Update, looks like you maintain `d`? Could you add it back?

[2020-06-25 20:50] medikoo commented on #112
@mssngr `d` was not pulled, it's actually a continusly maintained project. https://www.npmjs.com/package/d

I guess there's some issue on your side, or some issues with npm registry currently

[2020-06-25 22:00] mssngr commented on #112
Perhaps an issue with npm registry? We can keep up the conversation in the Issue I created for `d`. https://github.com/medikoo/d/issues/16

Pasted from the issue in `d`:
![Screen Shot 2020-06-25 at 1 59 42 PM](https://user-images.githubusercontent.com/23464169/85799127-f152bf80-b6fb-11ea-82c8-28a9fcaab479.png)

[code]

[code]

npm debug log
[code]

We were using memoize, which required `d`.

![02_

[2020-06-25 22:44] mssngr commented on #112
Sorry to waste your time! You were right, was a registry issue. We use Artifactory, which mirrors NPM. Someone in the company uploaded a package called `d` with version 1.0.1. And thus, they broke everyone's repos in the whole company 😂.

[2020-06-25 22:44] #112 closed

[2020-09-29 20:46] MarkLyck opened #113 "Doesn't work with snowpack."
Getting the following error trying to use memoizee with snowpack:

[code]

I checked my node modules and `node_modules/es5-ext/array/#/e-index-of.js` exists.

I'm not sure why the import ends up being `es5-ext/array/index.js#/e-index-of` (there is no `index.js` in the require path)

[2020-09-29 20:48] medikoo commented on #113
@MarkLyck thanks for report. Still it's an issue in snowpack and memoize, have you tried reporting it over there?

[2020-09-29 20:52] MarkLyck commented on #113
added an issue in snowpack for this as well: https://github.com/pikapkg/snowpack/discussions/1159

[2020-09-29 20:53] medikoo commented on #113
Thanks, as there's nothing to be done here about that, I'm closing it.

[2020-09-29 20:53] #113 closed

[2020-11-09 16:14] thgreasi opened #115 "Is not caching non-promise returning calls the intended behavior?"
What is the intended behavior when the provided function throws an error?
While giving this a try, it ends up that the call is not cached, but I couldn't find any mention in the docs or a test case:
https://runkit.com/embed/w29b07kuc7f9

I like how this works currently but I would want to confirm whether this is the intended behavior.
If so, I think it makes sense to mention this in the docs or wr

[2020-11-09 16:19] medikoo commented on #115
@thgreasi yes, invocations that crash are not cached. It's intentional. Same with `promise` mode, if returned promise rejects, then cache is cleared for that invocation.

[2020-11-23 08:41] #115 closed

[2021-03-01 15:26] lukashavrlant opened #117 "The library keeps rejected promises in the cache"
Hi, we tried to use memoizee to memoize a promise function. We used `promise: true` but it still keeps remembering rejected promises in the cache. I wrote a simple piece of code that demonstrates it. The `functionToBeMemoized` function rejects when called for the first time and it resolves when called for the second time. Then I memoized it and called the memoized function twice -- I got the error

[2021-03-01 16:33] medikoo commented on #117
@lukashavrlant thanks for report.

In this given case, it's because memoizee did not manage to reset the cache before this second invocation is issued (note that it's issued immediately after first resolved).

e.g. if you add one tick gap after first invocation resolves but before next one is made, you'd see expected result:

[code]

Delay in deleting the cache can be attributed to fact that `memo

[2021-03-01 17:01] lukashavrlant commented on #117
@medikoo OK, thank you for the explanation 🙂

[2021-03-12 15:15] ThomWright opened #118 "Callback for cache access"
I'm trying to add Prometheus metrics around my cache use. The metrics I'd like are:

- count of accesses
- count of hits
- count of evictions

Hit rate can then be `hits / accesses`, and eviction rate `evictions / accesses`.

This is what I have now;

[code]

Having another callback, in addition to `dispose` which gets called after every access and has `(hit: boolean)` as the parameter would be re

[2021-03-12 15:17] medikoo commented on #118
@ThomWright have you considered relying on [`memoizee/profile`](https://github.com/medikoo/memoizee#profiling--statistics) ?

[2021-03-12 15:23] ThomWright commented on #118
Blimey that was quick :smile:

I saw it, but also saw:

I would like to run this in a production environment :wink:

[2021-03-15 08:57] medikoo commented on #118
@ThomWright I think main part that affects performance in profiler is generation of the stack traces (so profile stats show were memoized function was invoked)

I think there are two ways you can avoid that
1. (requires changes to `memoizee`). Introduce an extra option for profilre, to provide more basic statistics, without stack traces, and also we need to update it, so gathered data is accessibl

[2021-03-15 18:06] ThomWright commented on #118
Great, thank you. I'll have a look at the extensions.

[2021-03-16 13:10] ThomWright commented on #118
My solution seems to work. For reference, here is what I did:

[code]

To get the types to work I also did this:

[code]

[2021-03-16 13:10] #118 closed

[2021-03-21 19:51] yarosdev opened #119 "setter method"
It would be great to be possible preset cached value.

const anyValue = "anyvalue";

memoized.set(...args, anyValue);

const result = memoized(...args); // Hit cache

[2021-03-22 12:21] medikoo commented on #119
@yarosdev great thanks for proposal.

It's scheduled to be possible with v1, which will present an improved interface: https://github.com/medikoo/memoizee/issues/73

[2021-04-23 01:22] dheera opened #120 "How to deal with functions taking dict args?"
For example:
[code]

Using non-primitive mode results in this comparison:
[code]
which returns false (unintended)

Using primitive mode results in this comparison (based on primitive.js lines 8-18):
[code]
which evaluates to
[code]
which is also not what we want.

What I really want is a serialized primitive mode where it uses JSON.stringify instead of Array.prototype.join.

Let me know if you agr

[2021-04-23 18:37] quanganhtran commented on #120
I think user should be able to provide their own comparator, not just normalizers, at their own expense of speed. We are looking to adopt this library for caching API requests, which are not resource-intensive operations, but require complex comparisons (however it might the case that this use case is out of scope of the library?)

[2021-08-01 16:47] IamTheHttp opened #121 "Rollup fails to bundle memoizee correctly"
This package cannot be correctly bundled by Rollup.

When attempting to bundle, rollup will freeze some objects, making the package fail at runtime
<img width="496" alt="Screen Shot 2021-08-01 at 19 42 27" src="https://user-images.githubusercontent.com/17492957/127778833-962648df-7d16-4ae7-b00c-e4c18a1b5c4f.png">
<img width="502" alt="Screen Shot 2021-08-01 at 19 42 16" src="https://user-images.gi

[2021-08-01 16:58] IamTheHttp commented on #121
Unfortunately while the above fix does prevent runtime errors, the bundle is still unusable

As can be seen here in the bundle result, the if conditions are incorrect resulting in the function not to return a memoized value

https://github.com/IamTheHttp/meomizee-with-rollup/blob/master/dist/index.js#L2020

[2021-08-09 15:07] medikoo commented on #121
@IamTheHttp great thanks for report.

Still note it's not an issue in this package itself, but rather issue specific to rollup bundler, which may have some limitations, have you tried to report it over there?

[2021-08-09 22:18] IamTheHttp commented on #121
Hey @medikoo, I somewhat disagree that it's a rollup issue, but it's definitely related to rollup!

This issue has two parts
1. Object.freeze build error - to be solved by `freeze:false` as I've done, and shown in their issue/PR https://github.com/rollup/rollup/issues/1693 / https://github.com/rollup/rollup/pull/1696
2. The treatment of a conditional require with side-effects.

The first bullet ha

[2021-08-10 10:34] medikoo commented on #121
@IamTheHttp this is a perfectly valid JS package, using just pure JS (no deprecated features), and plain CJS require syntax (without relying on any rarely used meta methods, which some bundlers may have problem with)

If bundler cannot package such package well, it means there's a limitation on bundler side, and not in a package. I hardly see it can be otherwise.

In this given case, if I understa

[2021-08-14 19:44] IamTheHttp commented on #121
Completely agreed, my only comment was about the package itself wanting to be accessible by others.

Yes, this is probably an issue with rollup's commonjs plugin, however, the fix is so incredibly simple (and to my personal opinion, slightly improves the code quality) that I'm not sure why we wouldn't want to include it.

Would you be open to a PR on this matter?
What I had in mind was to simply b

[2021-08-14 20:28] medikoo commented on #121
@IamTheHttp feel free to open the PR. If change is minimal I think I'll be fine to take it. Still I'd like to also understand well why it cannot be addressed on Rollup side,

[2021-08-16 07:57] jjangga0214 opened #122 "feat: default nomalizer"
Hi.

Currently, if arguments are object (including array), users have to specify `normalizer.
So, the default normalizer covers quite narrow cases only.

However, in fact, many more objects, which current default normalizer cannot cover, can be serialized without extra configuration.
For example, we can use `https://github.com/yahoo/serialize-javascript` for the default nomalizer.
(This would be a

[2021-08-16 11:10] medikoo commented on #122
@jjangga0214 thanks for openning that. Any change in defaults is technically a breaking change.

I'm open to that. Still have you checked the proposal for v1: https://github.com/medikoo/memoizee/issues/73 ?
It doesn't propose to serialize to JSON by default, but it's scheduled to be behind straightforward `serialize: true` option

[2021-08-24 02:35] bowencool opened #123 "replace `es5-ext` with `core-js@^3`"
Error using Vite
[code]

[2021-08-24 07:14] medikoo commented on #123
@bowencool it's scheduled to use `ext` instead of `es5-ext` under the hood. Still note that using `es5-ext` as it's currently it's perfectly right and compliant with standards.

The problem you've approached it's about a limitation on Vite site, and not an issue in this package. Have you reported it on Vite site?

[2021-08-24 12:08] bowencool commented on #123
I found it
https://github.com/vitejs/vite/pull/2432

[2021-08-24 12:08] #123 closed

[2021-08-30 16:05] valerii15298 opened #124 "Cannot import memoizee"
Hello, i am trying to use memoizee in my project but i simply cannot import it. All other libraries work perfect.
im trying import it using:
`import * as memoizee from "memoizee";
`
As i understand it does not work because one dir is named '#' => [Similar issue](https://github.com/stackblitz/core/issues/1390)

Logs:
`

npm\es5-ext@0.10.53\node_modules\es5-ext\array\index.js#\e-index-of
    3 │ var

[2021-08-30 17:09] medikoo commented on #124
@valerii15298  At some point I plan to migrate internals from `es5-ext` to `ext` (so problematic for some tools, paths that include `#` are no longer in play). Still ETA is unknown.

Also note that per standards there's nothing wrong with memoizee. `require` works with fs paths resolution and `#` is totally valid char in name of every FS I'm aware of.

Technically it's an issue (limitation) in som

[2021-10-26 14:09] jkantr opened #125 "Memoizing a function without arguments"
I would like to memoize a function that has no arguments. "Why would you want to do that?", I hear you cry. Simply, it's an async function that returns a promise that resolves to undefined. Everything that happens in the function is a side effect. I want to throttle it using memoize and the maxAge property, so all attempts in between the cache maxAge just get dropped (have the promise resolving to

[2021-10-26 14:37] #125 closed, assigned to nobody

[2021-11-22 07:39] ahrjarrett commented on #124
I don't know enough about ESBuild to say this definitively, but when I try to use `memoizee` in a program bundled by ESBuild, this bug crashes my application.

Not sure if this is because ESBuild chokes on `#` characters in filenames, or if this is something that is configurable inside ESBuild. I just know that I don't have time to investigate, and will have to replace `memoizee` with another memo

[2021-11-22 11:48] medikoo commented on #124
@ahrjarrett have you considered reporting the issue to ESBuild?

[2021-12-22 00:01] blackarctic opened #126 "Allow `maxAgeSinceAccess` in addition to `maxAge`"
This would function similiarly to `maxAge` but the cache would expire x milliseconds from last access as opposed to x milliseconds from the first access.

For example:

[code]

[2021-12-22 00:02] blackarctic commented on #126
Happy to make a PR for this, but want to ensure interest first.

[2021-12-22 00:13] Rush commented on #126
From a user's perspective of memoizee it makes sense. Would be useful for some use-cases like memoizing connections and other resources that don't technically change but are expensive to maintain.

[2021-12-22 11:14] medikoo commented on #126
@blackarctic great thanks for this proposal. Still, wouldn't combining `maxAge` with `max` address this use case reliably?

Having that setup only _max_ of last accessed items will be kept but for no longer than _maxAge_.

[2021-12-22 11:14] medikoo commented on #126
Also @blackarctic can you outline what is the specific use case?

[2021-12-22 16:26] ngallows commented on #126
I don’t believe the combination accomplishes this goal. Combing `maxAge` and `max` says “I want to keep a max of x items in the cache for no longer than y milliseconds after first access”. Using just `maxAgeSinceAccess` says “I want to keep any number of items in the cache as long as they have been accessed in the last y milliseconds”.

As mentioned in the description, this use case of keeping ite

[2021-12-22 16:34] blackarctic commented on #126
I don’t believe the existing combination accomplishes this goal. Combing `maxAge` and `max` says “I want to keep a **max** of x items in the cache for no longer than y milliseconds after **first** access”. Using just `maxAgeSinceAccess` says “I want to keep **any** number of items in the cache as long as they have been accessed in the **last** y milliseconds”. Combining maxAgeSinceAcces and max wo

[2021-12-22 16:53] medikoo commented on #126
This explains what you want, but does not describe the use case you have (what are you caching? Why last access dictates the freshness of a cached value, and not the retrieval timestamp ?)

Note it's a very first request like that (in near 9 years of this package being around). Either we're addressing a very rare use case, or this use case can be addressed in a better way.

[2021-12-22 17:55] blackarctic commented on #126
Sure. Let’s say you want to memoize the conversion from any number of objects from shape A to shape B. You want to keep the object references the same so preFetch isn’t going to work because that will create new object references. You also don’t know how many you will have so you can’t use max. You can use maxAge but after x amount of time, the object references will be dropped and you will get bu

[2021-12-22 18:14] Rush commented on #126
I often memoize observables which keep subscribed to some resource, such as redis events or to a websocket. Such resource never changes so the goal of memoization is to just keep it active for as long as it's needed.

`maxAge` is best for cases when things generally change over time such as:
- memoizing number of documents the user owns
- memoizing statistics of service usage
Both statistics and d

[2021-12-22 19:01] medikoo commented on #126
@blackarctic Why in this specific case, it's ok to assume that if object wasn't accessed for at least X period, it's safe to remove from cache, and it's not safe to remove if it's the least recently accessed object from all cached objects when count of them reached Y count?

To me it looks a great `max` (LRU) use case, still, your description feels purely theoretical, Can you describe a real-world

[2022-01-20 09:18] rudimadima opened #127 "Why is the memoizee so slow?"
Simple example:
[code]
Why is the memoized function 20 times slower?

[2022-01-20 09:47] medikoo commented on #127
@rudimadima thanks for opening. I've received a very similar question in the past, please see my answer, I think it explains well: https://github.com/medikoo/memoizee/issues/27#issuecomment-65617630

[2022-01-20 10:17] rudimadima commented on #127
@medikoo, thank you for the answer!

[2022-01-21 07:07] #127 closed

[2022-04-16 13:58] #124 closed

[2022-04-21 18:36] blackarctic commented on #126
@medikoo Sorry for the late reply. Looking back into this.

This situation I had in mind is a frontend render cycle, where `max` is not helpful because we can't limit by an arbitrary number since we can't know this arbitrary number beforehand. Essentially, in the frontend render cycle, we can actually safely assume that if our `maxAgeSinceAccess` is longer than it takes our render cycle to complet

[2022-05-18 15:50] mfbx9da4 opened #128 "Is there a way to dynamically configure the size?"

[2022-05-25 09:45] ATheCoder opened #129 "Feature Request: Wouldn't it be good if we could use a Redis backend?"
This can help when an application is running on a cluster and has multiple instances

[2022-05-26 08:48] medikoo commented on #126
@blackarctic thanks for the explanations, still it still looks blurry to me.

Can you explain the use case without referring to the current memoizee API and without focusing on an eventual solution?

What exactly is the "Render Cycle" ? What is the "arbitrary number" you refer to?

(Also in memoizee `maxAge` as far as I remember is counted since function result resolved and not since the function

[2022-05-26 08:55] medikoo commented on #128
@mfbx9da4 can you describe the use case?

[2022-05-26 09:07] medikoo commented on #128
@mfbx9da4 This looks to me as a use case that's best served by _weak map_ based configuration.

So the cache is attached to an item, and if that item is disposed, then derived data you cached for it will also be disposed

[2022-05-26 10:48] medikoo commented on #128
What do you mean? `WeakMap` is a native JavaScript interface and this is a package that requires the JavaScript runtime to be run

[2022-05-26 16:01] drone1 commented on #129
This is exactly what I came here looking for. In my memory, this package already supported a Redis-backed option, so I was a bit shocked that I couldn't find it in the documentation. Such a great package, but for my application, I'd love to be able to NOT have to "warm" every cache on every deploy for every instance in my cluster. Would be a great feature IMO. Any chance this is coming, or any sug

[2022-05-27 13:05] medikoo commented on #129
@ATheCoder v1.0 API once implemented (no ETA, unfortunately) will allow to setup persistent caching

We've discussed that at https://github.com/medikoo/memoizee/issues/33 so I'm going to close that one as duplicate

[2022-05-27 13:05] #129 closed

[2022-05-27 13:34] drone1 commented on #33
Caching to disk is not a scalable solution IMHO

[2022-06-07 19:48] medikoo commented on #128
@mfbx9da4  `memoizee`  under the hook doesn't use `WeakRef` but `WeakMap`, which as I search seems supported by all engines

[2022-09-30 15:08] jackgeek opened #131 "max option does not work with promise option"
When using promise: true option the max option is no longer honored.

See example here: https://codesandbox.io/s/green-sun-fkotwo?file=/src/App.tsx

[2022-10-03 15:41] medikoo commented on #131
@jackgeek Technically there's no bug, thing is that values are memoized after async function resolves, and it's at resolution point where `max` option is evaluated.

See
[code]

vs

[code]

Still, I agree that desired would be to handle the cache limit at the invocation moment and not at the function resolution moment. I've updated the [v1.0 draft proposal](https://github.com/medikoo/memoizee/issu

[2022-11-17 02:16] cdhowie opened #132 "Option to return prior cached value on update failure"
We have a case where some network-loaded asset changes rarely, but we need to notice changes to it relatively quickly.  Therefore, we use a memoized async function with a `maxAge` of 10 minutes.

However, if there is a brief network interruption when the item is requested after expiring, this causes an error to be returned and the cached value purged.  This makes sense as a default behavior, but i

[2022-11-17 11:46] medikoo commented on #132
@cdhowie great, thanks for the input. That looks as a valid request. I've added it to [v1 spec](https://github.com/medikoo/memoizee/issues/73).
Unfortunately, implementing this in the context of the current version doesn't look trivial, so we need to wait for v1, of which the ETA is unknown.

[2022-11-18 07:31] cdhowie commented on #132
@medikoo Thanks. BTW I think you linked #117 but I think you meant to link to this issue?

[2022-11-18 13:01] medikoo commented on #132
@cdhowie link seems fine, I've linked to v1 spec

[2022-11-18 19:13] medikoo commented on #132
@cdhowie ah.. I see now, thanks, fixed :)